body {
  margin: 0;
  width: 100%;
}

div.listing {
  display: grid;
  grid-template-columns: 1fr minmax(0, 750px) 1fr;
}

div.listing > * {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

span.ref {
  text-align: right;
  font-style: italic;
  color: #777;
  padding-right: 0.5em;
}

a.storyLink {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-size: 125%;

  /* truncate large titles */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.commentsLink {
  text-decoration: none;
  color: #777;
  padding-left: 0.5em;
}

a.srcLink {
  text-align: center;
  display: block;
  padding-top: 2em;
  font-family: monospace;
  color: black;
  text-decoration: none;
}

.smoothBg  { transition: background-color 4s ease; }
