@font-face {
    font-family: 'concourse-t4';
    src: url('/fonts/concourse-t4-regular.woff2') format('woff2'),
         url('/fonts/concourse-t4-regular.woff') format('woff');
}

@font-face {
    font-family: 'concourse-c3';
    src: url('/fonts/concourse-c3-regular.woff2') format('woff2'),
         url('/fonts/concourse-c3-regular.woff') format('woff');
}

body {
  margin: 0;
  width: 100%;
}

div.listing {
  display: grid;
  grid-template-columns: 1fr minmax(0, 750px) 1fr;
}

div.listing > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.ref {
  font-family: 'concourse-c3', sans;
  text-align: right;
  text-decoration: none;
  color: #777;
  padding-right: 10px;
}

a.storyLink {
  font-family: 'concourse-t4', sans;
  text-decoration: none;
  color: black;
  font-size: 125%;

  /* truncate large titles */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.commentsLink {
  font-family: 'concourse-c3', sans;
  text-decoration: none;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

a.srcLink {
  text-align: center;
  display: block;
  font-family: monospace;
  color: black;
  text-decoration: none;
}

a:hover {
  color: black !important;
  transition: color 0s linear;
}

.smooth  {
  transition: color 0.75s ease, background-color 4s ease;
}

@media only screen and (min-device-width: 400px) and (orientation: portrait) {
  div.listing {
    display: block;
  }

  div.listing > * {
    text-align: left;
    padding: 0 10px 0 10px;
    white-space: pre-wrap;
    display: block;
  }

  a.ref {
    padding: 10px 10px 0 10px;
  }

  a.commentsLink {
    padding: 0 10px 10px 10px;
  }
}
